.dateWrapper {
  align-items: center;
  background-color: var(--secondary-background-color);
  border-radius: 7px;
  border: 2px solid var(--secondary-background-color);
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: center;
  margin: 0;
  padding: 6px;

  &.selected {
    border-color: var(--primary-color);
    background-color: var(--primary-background-color);
    color: var(--primary-color);
  }
}
