@tailwind base;
@tailwind components;
@tailwind utilities;

// Variables
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #adfe19;
  --secondary-color: #ed4c5e;
  --primary-background-color: #000;
  --secondary-background-color: #222;
  --primary-font-color: #fff;
  --secondary-font-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-width: none;
}

body {
  align-items: center;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 1.5rem 1rem;

  .cl-card {
    background-color: var(--primary-background-color);
    overflow-y: hidden;

    .cl-formFieldInput {
      &:focus {
        box-shadow: none;
        border: 3px solid var(--primary-color);
      }
    }

    .cl-footer {
      display: none;
    }

    .cl-formButtonPrimary {
      color: var(--secondary-font-color);
    }
  }
}
