.calendarContainer {
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .month {
    text-align: center;
    font-size: 10px;
  }
  .datesWrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.7rem;
  }
}
