.selectContainer {
  background-color: var(--primary-color);
  color: var(--secondary-font-color);
  padding: 36px 30px 36px 16px;
  border-radius: 7px 50px 50px 7px;
  align-items: center;

  .programSelection {
    display: flex;
    justify-content: space-between;
  }

  .programList {
    display: flex;
    flex-direction: column;

    li {
      padding: 0.5rem 1rem;
    }

    .selected {
      background-color: var(--primary-background-color);
      color: var(--primary-color);
    }
  }
}
